<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.displayio.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:label="@string/app_name" >
        <activity android:name="io.displayio.sdk.DioActivity"  />
        <activity android:name="io.displayio.sdk.device.PermissionsHandler" />
        <activity android:name="io.displayio.sdk.UnityActivity"></activity>
        <activity android:name="io.displayio.sdk.DioTranslucentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>